# >>> package-boost (managed) >>>
.agents/                export-ignore
.ai/                    export-ignore
.claude/                export-ignore
.cursor/                export-ignore
.cursorrules            export-ignore
.github/                export-ignore
.junie/                 export-ignore
.kiro/                  export-ignore
.windsurfrules          export-ignore
AGENTS.md               export-ignore
CLAUDE.md               export-ignore
GEMINI.md               export-ignore
# <<< package-boost (managed) <<<
.editorconfig    export-ignore
.gitattributes   export-ignore
.gitignore       export-ignore
.lpv             export-ignore
.mcp.json        export-ignore
CHANGELOG.md     export-ignore
composer.lock    export-ignore
phpunit.xml      export-ignore
pint.json        export-ignore
tests/           export-ignore

* text=auto
